<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark navigation">
    <a class="navbar-brand app-title" href="#">
      FashionIsta
    </a>

    <button class="navbar-toggler menu-toggle-btn" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Men</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Women</a>
        </li>
        <li class="nav-item">
          <button class="nav-link" style="
          background: none;
          border: none;
      " (click)="openLoginForm()">Login</button>
        </li>
      </ul>
    </div>
  </nav>
  <div class="slider">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of images">
        <div class="wrapper">
          <div class="row banner-font">
            <div class="col desc">
              <h1>Upto 20% OFF</h1>
              <div class="desc-font">Complementary gifts on BestSeller products</div>
              <div> <button class="shopNow-btn">Shop Now</button></div>
            </div>
            <div class="col"> <img class="slider-img-width" [src]="image.src" alt="Random first slide"></div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="product">
    <div class="flex-grid">
      <div class="column" *ngFor="let data of productData">
        <app-fashion-card [productInfo]="data"></app-fashion-card>
      </div>
    </div>
    <footer class="footer">
      <span>In Case of any concern, <a>Contact Us</a></span>
      <span class="copyright">© 2022 www.fashionIsta.com. All rights reserved</span>
    </footer>
  </div>