
.card-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    width: 18rem;
    margin-left: 20px;
    text-align: center;
}

.add-btn {
    border: none;
    background: #fc9842;
    background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
    padding: 0.6em 1em 0.6em 1em;
    border-radius: 16px;
    color: white;
}

@media only screen and (max-width: 728px) {
    
    .card-shadow {
        width: 95%;
        flex-direction: row;
        align-items: center;
    }
    .card-img-top{
        width: 40%;
    }
}

